<h5>Database Status</h5>
<p id="stat-box"></p>
<div id="status-indicator">
    DB Status: <span id="status-text">Checking...</span>
    <span id="status-dot"
        style="height: 10px; width: 10px; border-radius: 50%; display: inline-block; background: gray;"></span>
</div>
<div class="power-controls">
    <button onclick="toggleDB('start')" style="background: green; color: white;">Power ON</button>
    <button onclick="toggleDB('stop')" style="background: red; color: white;">Power OFF</button>
    <button onclick="initDB()" style="background: red; color: white;">Init</button>
</div>
<script>
    async function toggleDB(action) {

        try {
            const response = await fetch('http://localhost:5000/db-control', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ action: action })
            });
            const result = await response.json();
        } catch (err) {
            document.getElementById('status-text').innerText = "Error: Could not reach backend";
        }
    }
    async function initDB() {
        try {
            const response = await fetch('http://localhost:5000/reset-database', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
            });
            const result = await response.json();
            statusText.innerText = result.status;
        } catch (err) {
        }
    }
    async function checkStatus() {
        try {
            const response = await fetch('http://localhost:5000/database-running');
            const data = await response.json();

            document.getElementById('status-text').innerText = data.status;
            document.getElementById('status-dot').style.backgroundColor = data.color || "gray";
        } catch (err) {
            console.error("Status check failed", err);
        }
    }
    async function updateStats() {
        let stat_box = document.getElementById('stat-box');
        try {
            const response = await fetch('http://localhost:5000/db-stats');
            const data = await response.json();
            table_length = `Total Tables: ${data.table_count}`;
        } catch (err) {
            table_length = "Database Not Running";
        }

        stat_box.innerText = table_length;
    }


    // Check every 5 seconds automatically
    setInterval(checkStatus, 500);
    setInterval(updateStats, 500);
    // Also check once immediately on page load
    updateStats();
    checkStatus();
</script>